<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunos.tvtaobao.search">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        tools:replace="android:allowBackup">
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.KeySearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:scheme="tvtaobao"
                    android:host="keysearch"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchResultActivity"></activity>
    </application>

</manifest>
